.web{
    text-align: center;
}

.my-img {
  width: 300px;
  height: auto;
 
  
}
.first{
    background-color: aqua;
    
}

.second{
    background-color: blueviolet;
}

.third{
    background-color: cadetblue;
}