.web{
    text-align: center;
}

.my-img {
  width: 300px;
  height: auto;
 
  
}
.first{
    background-color: aqua;
    text-align: justify;
   

    
}

.second{
    background-color: blueviolet;
     text-align: justify;
}

.third{
    background-color: cadetblue;
     text-align: justify;
}
.fourth{
    background-color: burlywood;
     text-align: justify;
}